# PostgreSQL 数据库配置
POSTGRES_USER=n8n_admin
POSTGRES_PASSWORD=REPLACE_POSTGRES_PASSWORD
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=REPLACE_NON_ROOT_PASSWORD

# N8N 加密密钥
ENCRYPTION_KEY=REPLACE_ENCRYPTION_KEY
